<h1>Book new activity for member</h1>

<p>Only activities with spaces available are shown.</p>

<h2><%= @member.first_name %> <%= @member.last_name %></h2>

<p><%= @member.address %></p>

<form class="" action="/gym/members/<%= @member.id %>/booking" method="post">

  <div class="form-el">
    <label for="activity-select">Select an activity:</label>
    <select name="activity_id" id="activity-select">
      <% for activity in @activities %>
        <% if !activity.full? %>
          <option value=<%= activity.id %>><%= activity.name %>, <%= activity.day %>, <%= activity.start_time %>-<%= activity.end_time %></option>
        <% end %>
      <% end %>
    </select>
  </div>

  <input class="btn" type="submit" value="Make booking">

</form>
