<h1>Add a new participant</h1>

<h2><%= @activity.name %></h2>
<p><%= @activity.day %> <%= @activity.start_time %>-<%= @activity.end_time %></p>

<form class="" action="/gym/activities/<%= @activity.id %>/booking" method="post">

  <label for="member-select">Select a member:</label>
  <select class="" name="member_id" id="member-select">
    <% for member in @members %>
      <option value=<%= member.id %>><%= member.first_name %> <%= member.last_name %>, <%= member.address %></option>
    <% end %>
  </select>

  <input type="submit" value="Add participant">

</form>
