<h1>Activities</h1>
<table>
  <% for activity in @activities %>
  <tr>
    <td><%= activity.name %></td>
    <!-- <td></td> -->
    <td><%= activity.day %></td>
    <!-- <td></td> -->
    <td><%= activity.start_time %>-<%= activity.end_time %></td>
    <!-- <td></td> -->
    <td><a href="/gym/activities/<%= activity.id %>">View details</a></td>
  </tr>
  <% end %>
</table>
<br>
<a href="/gym/activities/new">Add a new activity</a>
