<h1>Activity details</h1>
<p>Name: <%= @activity.name() %></p>
<p>Day: <%= @activity.day() %></p>
<p>Start time: <%= @activity.start_time() %></p>
<p>End time: <%= @activity.end_time() %></p>
<br>
<h2>Participants</h2>
<% if @activity.members == [] %>
  <p>No participants for this activity</p>
<% else %>
  <% @activity.members.each do |member| %>
  <p><%= member.first_name() %> <%= member.last_name() %>, <%= member.address() %></p>
  <hr>
  <% end %>
<% end %>
